.horizontal-scroll-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .horizontal-scroll {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
  
  }
  
  .horizontal-scroll::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .widget-heading, .res-heading {
    margin: 20px 0;
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .scroll-button.left {
    left: 0;
  }
  
  .scroll-button.right {
    right: 0;
  }
  
  .widget > *, .res-container > * {
    flex: 0 0 auto;
    margin-right: 10px; /* Adjust spacing between items */
  }
  
  