.restaurant-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 20vw;
  margin: 1.5vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resImage-container {
  position: relative;
  font-family: "Basis Grotesque Pro", Arial, sans-serif;
}

.resImage-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Lighter overlay for some lightness */
  z-index: 1;
}

.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 4px 12px); /* Image shadow */
  position: relative;
  z-index: 0;
}

.discount {
  position: absolute;
  top: 10vw;
  left: 1vw;
  font-weight: 800;
  color: white;
  font-size: 1.2vw;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); /* Stronger text shadow */
  z-index: 2; /* Ensures it sits on top of the overlay */
}



.restaurant-info {
  padding: 1vw;
}

.restaurant-name {
  font-size: 1.1vw;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.restaurant-rating {
  font-size: 16px;
  color: #ffa41b;
}

.restaurant-delivery-time {
  font-size: 16px;
  color: #555;
}

.restaurant-cuisines {
  font-size: 14px;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-counter {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Adds space between the buttons */
}

